/* button  {
    background-color: rgb(54, 112, 42);
    border: rgb(0, 0, 0);
    border-style:solid;
   
   
} */


/* .floatLeft {
    float: left;
    width: 500px;
    background: royalblue;
}

.floatRight {
    float: right;
    width: 700px;
    background: sienna;
}

.box {
    width: 300px;
    height: 200px;
    background: salmon;
}

@media(max-width: 460px) {
    .box {
        background: red;
    }
}

@media (max-width:1216px) {
    .floatLeft,
    .floatRight {
        float: unset;
        width: 100%;
    }
}

.df {
    background-color: coral;
} */

.back {
    background-color: rgb(58, 56, 56);
}

.text {
    background-color: rgb(58, 56, 56);
    display: block;
    border-radius: 25px;
    width: 500px;
    height: 50px;
    border-color: white;
    margin-left: 100px;
}

.email {
    background-color: rgb(58, 56, 56);
    display: block;
    border-radius: 25px;
    width: 500px;
    height: 50px;
    border-color: white;
}

.tel {
    background-color: rgb(58, 56, 56);
    display: block;
    border-radius: 25px;
    border-color: white;
    width: 500px;
    height: 50px;
}

.submit {
    background: rgb(33, 161, 33);
    border-radius: 25px;
    width: 500px;
    height: 50px;
}

.text:hover {
    border-color: green;
}

.email:hover {
    border-color: green;
}

.tel:hover {
    border-color: green;
}

.tel::placeholder {
    color: white;
}